<div id="<%= dom_id tweet %>">
    <p>
      <strong>userName:</strong>
      <%= tweet.name %>
    </p>
  
    <p>
      <strong>Description:</strong>
      <%= tweet.email %>
    </p>
    
  </div>